---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1>Astro</h1>
  <div class="hello-test" id="hello">
    <h2 class="hello-title">hello</h2>
    <p class="hello-text">hello Lorem ipsum dolor sit amet.<p></p></p>
  </div>
</Layout>
